{% extends 'base.html' %}

{% block content %}
  <h2>Sign up for a free account</h2>
  <p class="lead">Select below the type of account you want to create</p>
  <a href="{% url 'costumer_signup' %}" class="btn btn-student btn-lg" role="button">I'm a costumer</a>
  <a href="{% url 'driver_signup' %}" class="btn btn-teacher btn-lg" role="button">I'm a driver</a>
{% endblock %}