{% extends 'base.html' %}

{% block content %}
  <h2>Welcome to the Republic TAXI! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to Republic TAXI, get started
    by creating a <a href="{% url 'costumer_signup' %}">costumer account</a> or a <a href="{% url 'driver_signup' %}">driver account</a>.
  </p>
  <hr>
{% endblock %}